<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".GenerateQR"
            android:exported="false" />
        <activity
            android:name=".ScanQr"
            android:exported="false" />
        <activity
            android:name=".Search"
            android:exported="false" />
        <activity
            android:name=".ConnectWallet"
            android:exported="false" />
        <activity
            android:name=".EditAccount"
            android:exported="false" />
        <activity
            android:name=".Send"
            android:exported="false" />
        <activity
            android:name=".Receive"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".GetStarted"
            android:exported="false" />
        <activity
            android:name=".CreateUsername"
            android:exported="false" />
        <activity
            android:name=".ConnectHardwareWallet"
            android:exported="false" />
        <activity
            android:name=".PrivateKey"
            android:exported="false" />
        <activity
            android:name=".RecoveryPhraseTV"
            android:exported="false" />
        <activity
            android:name=".RecoveryPhrase"
            android:exported="false" />
        <activity
            android:name=".ProtectWallet"
            android:exported="false" />
        <activity
            android:name=".AddWallet2"
            android:exported="false" />
        <activity
            android:name=".AddWallet"
            android:exported="false" />
        <activity
            android:name=".Dashboard"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>